.App {
  text-align: center;
  color: red;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.Unit {
  font-size: small;
}

.ColorPicker {
  position: fixed;
  bottom: 0;
  right: 0;
}